.venv/
.git/
.gitignore
.github/
node_modules/
__pycache__/
*.pyc
*.pyo
.DS_Store
.env.local
.env
*.md
*.bat
*.ps1
.venv
core/frontend/node_modules/
core/saturday-control-panel/node_modules/
core/frontend/functions/node_modules/
