# Ignore junk, NOT code
nul
.config/
.firebase/
*.cmd

# Python cache
__pycache__/
*.pyc

# Environments
.venv/

# Node
node_modules/

# Logs
*.log
logs/

# Build artifacts
build/
dist/

# Binaries
*.exe
*.bin
*.zip

# Secrets
.env
prod.env

#clean 
logs/
models/
build/